<nav class="bg-white bg-opacity-10 p-4 text-black shadow-md backdrop-blur-md">
  <div class="container flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-black hover:text-gray-800">Uriel Perez</a>
    <ul class="flex space-x-6">
      <li><a href="#proyec" class="text-black hover:text-gray-800 hover:underline transition-colors">Proyectos</a></li>
      <li><a href="#contac" class="text-black hover:text-gray-800 hover:underline transition-colors">Contacto</a></li>
      <li><a href="#skillsSection" class="text-black hover:text-gray-800 hover:underline transition-colors">skills</a></li>
      
    </ul>
  </div>
</nav>
